@charset "utf-8";

/* 动画 */
@keyframes debounce {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }
}
.page {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PingFangSC-Regular, PingFang SC;
}

/* 丝带 */
.pattern {
  width: 1.5rem;
  position: absolute;
  top: 0;
}
.pattern img {
  width: 100%;
}
.pattern.left {
  left: 0;
}
.pattern.right {
  right: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
}

.app-name {
  margin-top: 0.3rem;
  font-size: 0.32rem;
  font-weight: 800;
  color: #555;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.download-button {
  width: 4.22rem;
  height: 0.9rem;
  border-radius: 0.45rem;
  background: #32b2a7;
  margin-top: 0.34rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 0.32rem;
  cursor: pointer;
}

/* 已安装提示 */
.open-tips {
  margin-top: 0.4rem;
  font-size: 0.3rem;
  font-weight: bold;
  line-height: 0.42rem;
  color: #fb4545;
  display: none;
  cursor: pointer;
}

.open-tips.show {
  display: block;
}

.browser-tips {
  font-size: 0.24rem;
  margin-top: 0.4rem;
  color: #999999;
  letter-spacing: 0.04rem;
  display: none;
}
.browser-tips.show {
  display: block;
}



/* 微信环境提示 */

.tips {
  display: none;
  position: fixed;
  top: 0.18rem;
  right: 0.2rem;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.12rem;
  padding: 0.08rem 0.2rem;
  color: #fff;
  font-size: 0.26rem;
}
.tips::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -0.15rem;
  right: 0.5rem;
  display: block;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
  border-width: 0 0.16rem 0.16rem 0.16rem;
}

.tips.show {
  display: block;
}
.tips.ani {
  animation: debounce 1s;
}
